*{
    box-sizing: border-box;
}

body{
    background-color: peru;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background-color: #fff;
}

.fill{
   /* background-image: url('https://img.freepik.com/free-photo/space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy_1258-154643.jpg');  */
   /*IN ORDER TO HAVE A RANDOM IMAGE EACH TIME THE BELOW GIVEN OPTION IS BETTER*/
   background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: solid 5px #ccc;
}

.hovered{
    background-color: black;
    border: dashed 2px #fff;
}

@media(max-width: 800px){
    body{
        flex-direction: column;
    }
}

